{% extends 'base.html'%}
{%block content%}
<style>
    h1
    {
    border:solid 3px orange;
    display:flex;
    align-items:center;
    justify-content:center;
    };
    .row {
    display:flex;

    }
    .column {
    border:solid 2px grey;
    border-radius:2px;
    padding:3px;
    flex:50%;
    }
</style>
<h1>
    Great Job, You Guessed Correctly!
</h1>
{% if unique %}
    <h2>
        only appearance of this clue
    </h2>
{% elif not unique %}
    <table>
        <tr>
            <td>Count</td>
            <td>Entry</td>
        </tr>
        {% for ent in entry_list %}
     <tr>
           <td>
               {{ ent.count }}
            </td>
            <td>
                {{ ent.entry }}
            </td>
        </tr>
        {% endfor %}
    </table>
<h3>There are {{num_entries}} Entries!</h3>
{% endif %}

{% endblock %}